.action-container {
  padding: 6px;
  padding-bottom: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 270px;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  height: auto;
  min-height: 30px;
  max-height: 70px;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  background-color: #007BFF;
  transition: width 0.3s ease-in-out;
}
