
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px;
}

.job-editor-container {
  height: 0;
  visibility: collapse;
  transition: height 0.2s ease-in-out;
}

  .job-editor-container.expanded {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 500px;
    transition: height 0.2s ease-in-out;
    visibility: visible;
  }

.create-text {
  font-size: 25px;
  font-weight: 800;
  color: #888888;
  display: inline-flex;
  align-items: center;
}

.bolder-create-text {
  font-size: 28px;
  font-weight: bolder;
  color: #888888;
  margin-right: 10px;
  font-family: fantasy;
}

.button {
  padding: 8px 16px;
  background-color: #f5f5f5;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
  width: max-content;
  height: 15px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 3px;
}

.button:hover {
  background-color: #e0e0e0;
}

textarea {
    width: 100%;
    height: 100%;
}

.actions {
    display: inline-flex;
}
