.step-container {
  padding: 8px;
  /*border: 1px solid #e0e0e0;*/
  /*border-radius: 4px;*/
  background-color: #f9f9f9;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
  margin: 4px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
  grid-area: title;
  margin-top: 5px;
}

.actions-container {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 220px;
  overflow-y: hidden;
  overflow-x: auto;
}

.title-container {
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.status-circle {
  width: 16px;
  height: 16px;
  margin: 0 10px;
  border-radius: 50%;
  display: inline-block;
}
